<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员登录</title>
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/page-manageLogin.css" type="text/css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js"></script>
</head>
<body>
    <!--头部-->
    <div class="header w">
        <!--创建导航条-->
        <ul class="nav">
            <li>
                <a href="aboutRent.html">租车须知</a>
                <p>ABOUT RENT</p>
            </li>
            <li>
                <a href="weekSpecials.html">本周特价</a>
                <p>WEEK SPECIALS</p>
            </li>
            <li>
                <a href="manageLogin.html">管理员登录</a>
                <p>ADMINISTRATOR LOGIN</p>
            </li>
            <li>
                <a href="aboutUs.html">关于我们</a>
                <p>ABOUT US</p>
            </li>
            <li>
                <a href="contactUs.html">在线留言</a>
                <p>CONTACT US</p>
            </li>
        </ul>
        
        <div class="logo">
            <a href="index.html" title="一个牛逼的网站">
                <img src="img/logo.jpg" alt="网站的logo">
            </a>
        </div>  

        <div class="user">
            <label>欢迎你，XXXX</label>&nbsp;&nbsp;/
            <a href="userLogin.html">退出登录</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="userLogin.html">用户登录</a>&nbsp;/&nbsp;
            <a href="userRegister.html">用户注册</a>
        </div>
    </div>

    <!--网站主内容-->
    <div class="content w clearfix">
        <div class="rightForm">
            <form action="manageFunc.html" class="form">
                <div class="form-head">
                    <h2>管理员登录</h2>
                </div>
                <div class="form-body">
                    <div class="ui-input">
                        <input type="text" placeholder="帐号">
                    </div>
                    <div class="ui-input">
                        <input type="password" placeholder="密码">
                    </div>
                    <p class="forget-password">
                        <a href="">忘记密码？</a>
                    </p>
                    <button class="ui-button ui-button--primary">登录</button>
                </div>
            </form>
        </div>
    </div>

    <!--网站底部-->
    <div class="footer">
        <div class="w">
            <p><a href="index.html">网站主页</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="aboutUs.html">关于我们</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="aboutRent.html">租车须知</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="weekSpecials.html">本周特价</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="contactUs.html">在线留言</a></p>
            <br/>
            <p>版权所有 YangfanJack1024</p>
            <br/>
            <p><a href="Mailto:yangfanjack1024@qq.com">如果您对该汽车租赁网站有任何意见，点击这里发送邮件给我们。</a></p> 
        </div>
    </div>
</body>
</html>