<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{admin/css/font.css}">
    <link rel="stylesheet" th:href="@{admin/css/xadmin.css}">
    <script type="text/javascript" th:src="@{admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{admin/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--></head>

<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" action="/editOrder" method="post">
            <div class="layui-form-item">
                <label for="id" class="layui-form-label">
                    <span class="x-red">*</span>订单编号</label>
                <div class="layui-input-inline">
                    <input type="text" th:value="${orderById.id}" readonly="true" style="background:#efefef" id="id" name="id" required="" lay-verify="required" autocomplete="off"
                           class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="orderTime" class="layui-form-label">
                    <span class="x-red">*</span>订单创建时间</label>
                <div class="layui-input-inline">
                    <input type="text" th:value="${#dates.format(orderById.orderTime,'yyyy-MM-dd hh:mm:ss')}" readonly="true" style="background:#efefef" id="orderTime"  name="orderDatetime" required="" lay-verify="required"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="car_id" class="layui-form-label">
                    <span class="x-red">*</span>车辆编号</label>
                <div class="layui-input-inline">
                    <input type="text" th:value="${orderById.car_id}" readonly="true" style="background:#efefef" id="car_id" name="carID" required="" lay-verify="required" autocomplete="off"
                           class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    <span class="x-red">*</span>用户姓名</label>
                <div class="layui-input-inline">
                    <input type="text" th:value="${orderById.name}" readonly="true" style="background:#efefef" id="name" name="username" required="" lay-verify="required"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="startTime" class="layui-form-label">
                    <span class="x-red">*</span>订单开始时间</label>
                <div class="layui-input-inline">
                    <input type="date" th:value="${orderById.startTime}"   id="startTime" name="startTime" required="" lay-verify="date"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="endTime" class="layui-form-label">
                    <span class="x-red">*</span>订单结束时间</label>
                <div class="layui-input-inline">
                    <input type="date"th:value="${orderById.endTime}"  id="endTime" name="endTime" required="" lay-verify="date"
                           autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="payStatus" class="layui-form-label">
                    <span class="x-red">*</span>支付状态</label>
                <div class="layui-unselect layui-form-select">
                    <select id="payStatus" name="payStatus">
                        <option>未支付</option>
                        <option>支付宝</option>
                        <option>微信</option>
                        <option>银行卡</option>
                        <option>现金</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="orderStatus" class="layui-form-label">
                    <span class="x-red">*</span>订单状态</label>
                <div class="layui-unselect layui-form-select">
                    <select id="orderStatus" name="orderStatus">
                        <option>未确定</option>
                        <option>未提车</option>
                        <option>已提车</option>
                        <option>已还车</option>
                        <option>订单已取消</option>
                        <option>订单已完成</option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span></div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label for="desc" class="layui-form-label">描述</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" id="desc" name="desc" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="edit" lay-submit="">修改</button>
            </div>
        </form>
    </div>
</div>
</body>

</html>